<div class="flex gap-3 p-14 flex-wrap ">
  <mat-card *ngFor="let et of dossierEtudiant" class="example-card shadow-2xl">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>{{et.etudiant}}</mat-card-title>
      <mat-card-subtitle>{{et.id_etudiant}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="overflow-x-auto">
        <table class="table w-full">
          <!-- head -->
          <thead>
            <tr>
              <th></th>
              <th>FICHIER</th>
              <th>STATUS</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of et.dossier">
              <th>
                <label>
                  <input type="checkbox" class="checkbox" [checked]="d.etat==1"/>
                </label>
              </th>
              <td>{{d.dossier}}</td>

              <td>
                <div class="w-[100px] bg-green-500 text-center text-white rounded-full text-xs font-semibold" *ngIf="d.etat==1; else nonok">COMPLET</div>
                <ng-template #nonok>
                  <div class="w-[100px] bg-red-700 text-center text-white rounded-full text-xs font-semibold"> INCOMPLET</div>
                </ng-template>
            </td>

            </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
    <mat-card-actions class="relative">
      <button class="border w-[100px] bg-orange-700  text-white shadow-xl ml-1 rounded-md" mat-button>Modifier</button>
  </mat-card-actions>
  </mat-card>
</div>
