<div
  class="bg-[#000B39] flex flex-col justify-center items-center container-login w-full h-[100vh]"
>
  <div
    class="bg-white -mt-40 sm:mt-0 flex flex-col xl:w-[25%] 2xl:w-[25%] lg:w-[25%] sm:w-[75%] md:w-[50%] rounded-md"
  >
    <div class="w-full flex flex-col items-center p-2 rounded-md">
      <div class="h-14 w-14">
        <img  class="w-full h-full object-cover" src="../../assets/images/icone.jpg" />

        <!-- <img
          src="assets/bg.jpg"
          class="w-full h-full object-cover rounded-full"
        /> -->
      </div>
      <div class="text-black text-lg">Task Tracker</div>
      <div class="text-xs italic text-gray-500">Veuillez vous connectez</div>
    </div>
    <mat-divider></mat-divider>
    <div class="w-full p-3 mt-2">
      <form
        class="space-y-[10px]"
        #loginForm="ngForm"
        (ngSubmit)="authenticate()"
      >
        <div class="form-group relative">
          <mat-icon
            class="absolute top-[15%] bottom-[15%] left-[3%] text-gray-500 text-xl"
            >account_circle</mat-icon
          >
          <input
            type="text"
            class="w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2 pl-10 ring-1 ring-slate-200 shadow-sm"
            id="username"
            name="username"
            [(ngModel)]="pseudo"
            placeholder="pseudo"
            required
          />
        </div>
        <div class="form-group relative">
          <mat-icon
            class="absolute top-[15%] bottom-[15%] left-[3%] text-gray-500 text-xl"
            >lock</mat-icon
          >
          <div
            class="absolute top-[15%] bottom-[15%] right-[5%]"
            (click)="hide = !hide"
          >
            <mat-icon
              class="text-lg"
              [ngStyle]="{ color: hide ? 'rgba(156,163,175,1)' : 'black' }"
              >{{ hide ? "visibility_off" : "visibility" }}</mat-icon
            >
          </div>
          <input
            class="w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2 pl-10 ring-1 ring-slate-200 shadow-sm"
            [type]="hide ? 'password' : 'text'"
            id="password"
            placeholder="mot de passe"
            [(ngModel)]="pwd"
            autocomplete="off"
            name="password"
            required
          />
        </div>
        <div class="font-medium space-x-[10px] m-auto w-full flex flex-row">
          <button
            type="submit"
            [ngClass]="{
              ' btn loading w-[100%] ': isLoading,
              ' w-full py-2 px-3 bg-[#313f53] text-white text-sm rounded-md shadow-lg shadow-white/50 focus:outline-none':
                !isLoading
            }"
            [disabled]="!loginForm.form.valid"
          >
            Se connecter
          </button>
        </div>
        <div class="flex justify-center m-2">
          <p class="text-red-500" *ngIf="erreur != ''">
            {{ erreur }}
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
