<div class="flex">
  <div class="w-[15%] bg-red-500 h-screen"></div>
  <div class="w-[65%]">
    <div
      class="text-center p-1 h-[5%] font-inter font-semibold text-[20px] uppercase border border-black/[0.17]"
    >
      Theme de these
    </div>
    <div class="h-[95%] grid grid-cols-3 gap-5 p-9 pt-10" cdkDropListGroup>
      <div
        id="todo"
        cdkDropList
        [cdkDropListData]="taskTodo"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <app-card header="A Faire" [taskList]="taskTodo"></app-card>
      </div>
      <div
      id="progress"
        cdkDropList
        [cdkDropListData]="taskProgress"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <app-card header="En cours" [taskList]="taskProgress"></app-card>
      </div>
      <div
      id="finished"
        cdkDropList
        [cdkDropListData]="taskFinished"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <app-card header="Terminé" [taskList]="taskFinished"></app-card>
      </div>
    </div>
  </div>
  <div class="w-[20%] bg-teal-600 h-screen"></div>
</div>
